* {
  --primary: rgba(237, 182, 163, 0.76);
  --secondary: #555556;
  --dark: #263D42;
  --light: rgba(225, 210, 203, 0.76);
  --link: #8989b4;
}

.text-dark {
  color: var(--dark);
}

.text-light {
  color: var(--light);
}

main {
  background-color: var(--secondary);
}

