* {
  --primary: rgba(237, 182, 163, 0.76);
  --secondary: #7D7E7F;
  --dark: #263D42;
  --light: #d9cfc7;
  --link: #8A89C0;
}

.text-dark {
  color: var(--dark);
}

.text-light {
  color: var(--light);
}

main {
  background-color: var(--secondary);
}

